<a href="https://colab.research.google.com/github/ushasree-s/FML/blob/main/Lasso.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as pyplot

from sklearn import linear_model
from sklearn.linear_model import Lasso
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error,r2_score,mean_squared_error

In [6]:
data = pd.read_csv("/content/Company_data.csv")
data

        TV  Radio  Newspaper  Sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3   12.0
3    151.5   41.3       58.5   16.5
4    180.8   10.8       58.4   17.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1   14.0
197  177.0    9.3        6.4   14.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   18.4

[200 rows x 4 columns]

In [7]:
data.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3   12.0
3  151.5   41.3       58.5   16.5
4  180.8   10.8       58.4   17.9

In [8]:
X = data.drop('Sales',axis=1).values
Y = data['Sales'].values

In [9]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.25,random_state=4)

In [10]:
X_train.shape,X_test.shape

((150, 3), (50, 3))

In [11]:
reg = Lasso(alpha = 0.1)
reg.fit(X_train,Y_train)

Lasso(alpha=0.1)

In [12]:
from sklearn.metrics import mean_absolute_error,r2_score,mean_squared_log_error
y_pred1 = reg.predict(X_train)
print(f'Performance of the model on training data :\n')
print(f'MAE = {mean_absolute_error(Y_train, y_pred1)}')
print(f'MSE = {mean_squared_error(Y_train, y_pred1)}')
print(f'RMSE = {np.sqrt(mean_squared_error(Y_train, y_pred1))}')
print(f'R_2 = {r2_score(Y_train, y_pred1)}')

Performance of the model on training data :

MAE = 1.2924487707948982
MSE = 2.9825027456679223
RMSE = 1.7269923988448594
R_2 = 0.8965004354553932

In [13]:
y_pred2 = reg.predict(X_test)
print(f'Performance of the model on test data :\n')
print(f'MAE = {mean_absolute_error(Y_test, y_pred2)}')
print(f'MSE = {mean_squared_error(Y_test, y_pred2)}')
print(f'RMSE = {np.sqrt(mean_squared_error(Y_test, y_pred2))}')
print(f'R_2 = {r2_score(Y_test, y_pred2)}')

Performance of the model on test data :

MAE = 1.0864771740409815
MSE = 1.897400677159736
RMSE = 1.3774616790167835
R_2 = 0.9191141024831827

In [14]:
reg.score(X_test,Y_test)

0.9191141024831827